{% extends "GestionCO2/base.html" %}

{% block content %}
    {% if form.errors %}
        <div class="Error">
            <p>Tu usuario y contraseña no concuerdan: Intentelo de nuevo.</p>
        </div>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <br>
        <label for="usuario">Usuario:</label>
        <input id="usuario" type="text" name="username" maxlength="150" autofocus="" required="">
        <br>
        <label for="usuario">Contraseña:</label>
        <input id="password" type="text" name="username" maxlength="150" autofocus="" required="">
        <br>
        <input class="btn btn-default" type="submit" value="Entrar" />
        <input type="hidden" name="next" value="{{ next }}" />
        <a class="btn btn-default" href="{% url 'register' %}">Registrar </a>
    </form>
{% endblock %}
 
