{% extends "GestionCO2/base.html" %}

{% block content %}
    {% if form.errors %}
        <div class="Error">
            <p>Tu usuario y contraseña no concuerdan: Intentelo de nuevo.</p>
        </div>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table>
            <label for="usuario">Usuario:</label>
            <br>
            {{ form.username }}
            <label for="usuario">Contraseña:</label>
            <br>
            {{ form.password }}
        </table>

        <input class="btn btn-default" type="submit" value="Entrar" />
        <input type="hidden" name="next" value="{{ next }}" />
        <a class="btn btn-default" href="{% url 'register' %}">Registrar </a>
    </form>
{% endblock %}
 
