{% extends 'experto/base_experto.html' %}

{% block content_2  %}
    <br/>
    {% for experto in lista_expertos %}
        <div class="experto-lista">
            <div class="usuario">
                <p class="glyphicon glyphicon-user"></p>
            </div>
            <div class="Espacio4"></div>
            <p> {{experto}} </p>
            <div class="Espacio4"></div>
            <a href="{% url 'eliminar_experto_autorizado' expertoPK=experto.pk %}">Desautorizar Experto</a>
            <br/><br/>
            <a href="{% url 'eliminar_peticion_experto' expertoPK=experto.pk %}">Elimiar petición</a>
        </div>
    {% empty %}
        <p> No hay expertos para añadir </p>
    {% endfor %}
{% endblock %}
