{% extends 'GestionCO2/base.html' %}

{% block content %}
    <br/>
    {% for experto in lista_expertos %}
        <div class="experto-lista">
            <div class="usuario">
                <p class="glyphicon glyphicon-user"></p>
            </div>
            <div class="Espacio4"></div>
            <p> {{experto}} </p>
            <div class="Espacio4"></div>
            <a href="{% url 'add_experto' expertoPK=experto.pk %}" class="save btn btn-default">Aceptar Experto</a>
        </div>
    {% empty %}
        <p> No hay expertos para añadir </p>
    {% endfor %}
{% endblock %}


