{% extends 'GestionCO2/añadir_datos_empresa.html' %}

{% block content_2 %}
    <div class='titulo_pagina'>
        <h2>Añadir {{title}}</h2>
    </div>
    <div class="form-group">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if error != 1%}
                        <div class="alert alert-success"> 
                            <p class="glyphicon glyphicon-ok-sign"></p>
                            {{message}}
                        </div>
                    {% else %}
                        <div class="alert alert-success"> 
                            <p class="glyphicon glyphicon-remove-sign"></p>
                            {{message}}
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <form  role="form" class="formulario_añadir" enctype="multipart/form-data" action="." method="POST"> 
        {% csrf_token %}
        {{ form.as_p }}
        <p><strong> Formato para añadir la fecha: Año-Mes-Día </strong></p>
        <br/>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <br/><br/>
    <hr/>
{% endblock %}
