{% load static %}

<html>
    <div class="contenedor"> 
        <head>
            <meta charset="utf-8">
            <title>Gestionador CO2</title>
            <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
            <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        </head>
        <body>
            <div class="page-header">
                {% if user.is_authenticated %}
                    <a href="{% url 'inicio_experto' %}" class="top-menu"><span class="glyphicon glyphicon-briefcase"></span></a>
                    <a class="top-menu" href="{% url 'logout' %}">Salir de la cuenta <strong>{{user.username}}</strong></a>
                {% else %}
                    <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
                {% endif %}
                <h2><a href="/">Gestionador CO2</a></h2>
            </div>
            <div class="Lista">
                {% block content %}
                {% endblock %}
            </div>
        </body>
    </div>
</html>


