{% extends 'GestionCO2/empresa_detalles.html' %}

{% block content_1 %}
    <div class="EmpresaDescripcion">
        {{empresa.descripcion}}
    </div>
    <br /><br />
    {% if datos == 0%}
        <div class="fallo-empresa">
        <p> No tenemos datos de esta empresa. </p>
        {% if user == empresa.usuario %}
            <p> Para añadir datos pulse <span class="glyphicon glyphicon-cog"></span> y añadalos manualmente o a través de un archivo csv. </p>
            <p> En caso de que ya haya añadido los datos, entre en la configuración (<span class="glyphicon glyphicon-cog"></span>) y actualice la base de datos </p>
        {% endif %}
        </div>
    {% else %}
        <div class="graficos">
<!--             CO2 total -> {{anual}} -->
            <br />
            <a href="{% url 'mostrar_grafico' Gpk=1 %}">Ver Grafico co2 total</a>
            <br /><br />
<!--             CO2 por edificio -> {{edificios}} -->
            <br />
            <a href="{% url 'mostrar_grafico' Gpk=2 %}">Ver Grafico co2 por edificio</a>
            <br /><br />
<!--             CO2 por vehiculo -> {{vehiculos}} -->
            <br />
            <a href="{% url 'mostrar_grafico' Gpk=4 %}">Ver Grafico co2 por vehiculo</a>
            <br /><br />
<!--             CO2 por viaje -> {{viajes}} -->
            <br />
            <a href="{% url 'mostrar_grafico' Gpk=3 %}">Ver Grafico co2 por viaje</a>
            <br /><br />
        </div>
<!--        <iframe  src='GestionCO2/templates/graficos/grafico.html'></iframe>-->
    {% endif %}
{% endblock %}
