{% extends 'GestionCO2/empresa_detalles.html' %}

{% block content_1 %}
    <div class="EmpresaDescripcion">
        {{empresa.descripcion}}
    </div>
    <br /><br />
    {% if datos == 0%}
        <div class="fallo-empresa">
        <p> No tenemos datos de esta empresa. </p>
        {% if user == empresa.usuario %}
            <p> Para añadir datos pulse configuración y añadelos manualmente o a través de un archivo csv. </p>
        {% endif %}
        </div>
    {% else %}
        CO2 total -> {{anual}}
        <br /><br />
        CO2 por edificio -> {{edificios}}
        <br /><br />
        CO2 por vehiculo -> {{vehiculos}}
        <br /><br />
        CO2 por viaje -> {{viajes}}
        <br /><br />
        <iframe  src='GestionCO2/templates/graficos/grafico.html'></iframe>
    {% endif %}
{% endblock %}
