{% extends 'GestionCO2/empresa_detalles.html' %}

{% block content_1 %}
    <div class='user-config'>
        <h3> Cambiar nombre </h3>
        <a class="btn btn-default">Cambiar nombre</a>
        <h3> Cambiar logo </h3>
        <a class="btn btn-default">Cambiar logo</a>
        <h3> Cambiar descripción </h3>
        <a class="btn btn-default">Cambiar descripción</a>
        <h3> Cambiar telefono </h3>
        <a class="btn btn-default">Cambiar telefono</a>
        <h3> Cambiar correo </h3>
        <a class="btn btn-default">Cambiar correo</a>
        <h3> Cambiar visibilidad </h3>
        <a class="btn btn-default">Cambiar visivilidad</a>
        <h3> Cambiar todo </h3>
        <a class="btn btn-default">Cambiar todo</a>
        <br/><br/>
    </div>
{% endblock %}
