{% extends 'GestionCO2/base.html' %}

{% block content %}
    <div class="Titulo_pagina">
        <h1>Empresas registradas</h1>
        <br />
        {% for indice in indexado%}
                <a href="#{{indice}}">{{indice}}</a>
        {% endfor %}
        <br />
    </div>
    <div style="overflow-x:auto;">
        <div style="overflow-x:auto;">
            {% for letra,dato in datos %}
                <A name="{{letra}}">{{letra}}</a>
                <div id="div1">
                    <table class="table table-condensed" style="border-spacing: 5px;">
                    {% for tabla in dato %}
                        <td style="width:20%">
                            <center>
                            <div style="border-style:ridge;border-width:1px;">
                                <a href="{% url 'empresa_detalles' pk=tabla.pk %}"><img src="/media/{{tabla.logo}}" width="250" height="200"/></a>
                            </div>
                            <div>
                                <h4>{{tabla.nombre_empresa}}</h4>
                            </div>
                            </center>
                        </td>
                    {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
