{% extends 'GestionCO2/empresa_detalles.html' %}

{% block content_1 %}
    <p> Aqui podras ver los mensajes que te has mandado con los expertos en emisiones CO2 con preguntas sobre como reducir tu consumo. Pulsando en hacer pregunta podrás hacer una nueva pregunta a uno de nuestros expertos.</p>
    <br/>
    <div class="Añadir_mensaje">
        <a href="{% url 'añadir_mensaje' pk=empresa.pk %}" class="save btn btn-default">Enviar Mensaje a un experto</a>
    </div>
    {% for m in lista_mensajes %}
        <div class="mensaje">
            <div class="usuario">
                <p class="glyphicon glyphicon-user"></p>
            </div>
            <div class="texto">
                <a href="{% url 'mensaje_detalles' pk=empresa.pk mensajePK=m.pk %}"><strong> {{m.titulo}} </a></strong>
                <div class="Espacio4"></div>
                <p> {{m.texto}} </p>
                <div class="Espacio4"></div>
            </div>
        </div>
    {% empty %}
        <p> Todavia no tienes mensajes </p>
    {% endfor %}
{% endblock %}
