h1{
    color:#df1254;
    font-family: 'Playfair Display', serif;
}
body {
    padding-left:15px;    
}
.page-header h2 a {
    color:#000000;
    font-family: 'Playfair Display', serif;
}
.page-header{
    background-color: #56E099;
    padding: 20px 20px 20px 40px;
    font-family: 'Playfair Display', serif;
    margin:20px 0;
}

.titulo_pagina, .Listado_imagenes{
    text-align:center;
}
.Texto{
    font-size:large;
}
#div1 {
    overflow:scroll;
    background-color:#ffffff;
}
#div1 table {
    background-color:#ffffff;
}
form {
    /* Sólo para centrar el formulario a la página */
    margin: 0 auto;
    width: 275px;
    /* Para ver el borde del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
.contenedor{
    background-color:#ffffff;
    width:90%;
    margin: 0 auto;
    overflow:hidden;
}
