h1{
    color:#df1254;
    font-family: 'Playfair Display', serif;
}
body {
    padding-left:15px;    
}
.page-header h2 a {
    color:#000000;
    font-family: 'Playfair Display', serif;
}
.page-header{
    background-color: #56E099;
    padding: 20px 20px 20px 40px;
    font-family: 'Playfair Display', serif;
    margin:20px 0;
}
.top-menu{
    float: right;
    margin:5;
    color:#000000;
    font-family: 'Playfair Display', serif;
    font-size:15;
}
.config a{
    font-size:30;
    float: right;
}
.titulo_pagina, .Listado_imagenes{
    text-align:center;
}
.Texto{
    font-size:large;
}
#div1 {
    overflow:scroll;
    background-color:#ffffff;
}
#div1 table {
    background-color:#ffffff;
}
form {
    /* Sólo para centrar el formulario a la página */
    margin: 0 auto;
    width: 275px;
    /* Para ver el borde del formulario */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
.formulario_csv, .experto-lista{
    /* Sólo para centrar el formulario a la página */
    margin: 0;
    width: -275px;
    /* Para ver el borde del formulario */
    padding: 0em;
    border: 0px solid #CCC;
    border-radius: 0em;
}
.experto-lista{
    margin: 10px;
}
.contenedor{
    background-color:#ffffff;
    width:90%;
    margin: 0 auto;
    overflow:hidden;
}
.baby_contenedor{
    background-color:#ffffff;
    width:100%;
    margin: 0 auto;
    overflow:hidden;
}
.formulario_añadir{
    width: 400px;
}
.miniTitle h2{
    font-family: 'Roboto', serif;
    font-size: 30;
}
.miniTitle p{
    font-family: 'Roboto', serif;
    font-size: 15;
}
.Espacio{
    float: left;
    width: 5%;
    height: 50%;
    background-color:#ffffff;
    box-sizing: border-box;
}

.Espacio1{
    height: 10%;
    box-sizing: border-box;
}
.Espacio2{
    height: 13%;
    box-sizing: border-box;
}
.Espacio3{
    height: 0.5%;
    box-sizing: border-box;
}
.Espacio4{
    height: 5%;
    box-sizing: border-box;
}

.Calcular{
    float: left;
    width: 30%;
    background-color:#c9ffe3;
    text-align:center;
}
.Registrar{
    float: left;
    width: 30%;
    background-color:#c9ffe3;
    text-align:center;
}
.VerEmpresas{
    float: left;
    width: 30%;
    background-color:#c9ffe3;
    text-align:center;
}
.EmpresaNombre{
    width: 100%;
    font-family: 'Playfair Display';
    font-size: 50;
    text-align: center;
}
.EmpresaDescripcion{
    width: 100%;
    font-family: "Roboto",sans-serif;
    font-size: 15;
    text-align: center;
}

.user-config{
    width: 30%;
    float: left;
}

.user-config a{
    color:#000000;
    font-family: "Roboto",sans-serif;
    font-size: 15;
}

.formulario{
    width: 70%;
    float: right;
    text-align: center;
}

.Error{
    color:red;
}

.SAVE a{
    float: right;
}

.expertos{
    float: right;
    width: 85%;
}
.expertos p{
    float: right;
    font-size: 50px;
    color: #000000;
    margin-left: 10px;
}

.mensaje{
    float: right;
    width:95%;
}

.usuario{
    width:60px;
    float: left;
    font-size: 60px;
    color: #000000;
    margin-right: 2%;
}
.texto{
    width:83%;
    float: left;
}
.texto a{
    height: 30;
    float: left;
    font-size: 20px;
    color: #000000;
}

.empresa a{
    height: 30;
    float: left;
    font-size: 15px;
    color: #000000;
}
.visto p{
     float: right;
}
.experto-config{
    width: 20%;
    float: left;
}

.experto-config a{
    color:#000000;
    font-family: "Roboto",sans-serif;
    font-size: 15;
}
.mensajes-expertos{
    width: 80%;
    float: right;
    text-align: center;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
.experto-lista{
    float: left;
}

.texto p{
    text-align: left;
    font-size: 15px;
    color: #000000;
}

.texto-expertos p{
    width:85%;
    text-align: right;
    font-size: 13px;
    color: #000000;
}

.texto-expertos h5{
    float: right;
    font-size: 20px;
    color: #000000;
}

.post-form, .post-form{
    width:450px;
    float: center;
}

@media screen and (max-width: 800px){
    .Calcular{
        width: 100%;
    }
    .Registrar{
        width: 100%;
    }
    .VerEmpresas{
        width: 100%;
    }
    .Espacio{
        width: 100%;
        height: 5%;
    }
}
